section {
  background-color: hsl(207, 100%, 98%);
}
@media (min-width: 768px) {
  .texto {
    width: 45%;
  }
  .imagen {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .seccion1-contenido {
    display: grid;
    padding: 0 10px;
  }
  .seccion1-contenido .texto {
    order: 2;
    text-align: center;
    margin: 50px 0;
  }
  .seccion1-contenido .imagen{
    order: 1;
  }
}

@media (min-width: 550px) {
  .onda-seccion1 {
    background-image: url(/assets/images/bg-section-top-desktop-1.svg);
  }
}
@media (max-width: 550px) {
  .onda-seccion1 {
    background-image: url(/assets/images/bg-section-top-mobile-1.svg);
    height: 150px;
  }
}
