<header>
    <div class="mini-menu">

        <div class="imagen">
            <img src="./assets/images/logo.svg" alt="">
        </div>
        <div class="boton">
            <a href="#" class="">Try it free</a>
        </div>

    </div>

    <div class="contenido-header">

        <div class="texto">
            <h1>Build The Community Your Fans Will Love</h1>
            <div class="texto-boton">
                <p>Huddle re-imagines the way we build communities. You have a voice, but so does
                    your audience. Create connections with your users as you engage in genuine discussion. </p>
                <a href="#" class="boton-estilo">Get Started For Free</a>
            </div>
        </div>

        <div class="imagen-mockup">
            <img src="./assets/images/screen-mockups.svg" alt="">
        </div>

        <div class="follows">
            <div class="community">
                <div class="img-icon">
                    <img src="./assets/images/icon-communities.svg" alt="">
                </div>
                <h1>1.4k+</h1>
                <p>Communities Formed</p>
            </div>
            <div class="messages">
                <div class="img-icon">
                    <img src="./assets/images/icon-messages.svg" alt="">
                </div>
                <h1>2.7m+</h1>
                <p>Messages Sent</p>
            </div>
        </div>

    </div>
</header>