<div class="onda-seccion3 onda-size">

</div>
<section>
    <div class="contenedor padding-secciones">
        <div class="dflex just-cont-bet seccion3-contenido">
            <div class="texto dinline m-auto">
                <h1>Your Users</h1>
                <p>It takes no time at all to integrate Huddle with your app's authentication solution. This means, 
                    once signed in to your app, your users can start chatting immediately.</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/illustration-your-users.svg" alt="">
            </div>
        </div>
    </div>
</section>
