<div class="onda-footer onda-size">
    <!-- <img src="./assets/images/bg-footer-top-desktop.svg" alt=""> -->
    <!-- <div [style.background-image]="'url(./assets/images/bg-footer-top-desktop.svg)'" [style.width]="'100vw'" ></div> -->
</div>
<footer>
    <div class="contenedor">
        <div class="contenido-footer padding-secciones">
            <div class="info">
                <div class="cabecera-info">
                    <img src="../../../assets/images/icon-messages.svg" alt="">
                    <h1>Huddle</h1>
                </div>
                <div class="contenido-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla quam, hendrerit lacinia
                        vestibulum a, ultrices quis sem.</p>
                    <div class="telefono">
                        <i class="fas fa-phone-alt"></i>
                        <p>Phone: +1-543-123-4567</p>
                    </div>
                    <div class="email">
                        <i class="fas fa-envelope"></i>
                        <p>example@huddle.com</p>
                    </div>
                </div>
                <div class="redes-sociales-info">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter-square"></i>
                </div>
            </div>
            <div class="newsletter">
                <div class="newsletter-texto">
                    <h2>NEWSLETTER</h2>
                    <p>To recieve tips on how to grow your community, sign up to our weekly newsletter. We’ll never
                        send you spam or pass on your email address</p>
                </div>
                <form action="">
                    <input type="text" class="borde-10" name="subscribe" id="subscribe">
                    <button type="submit" class="borde-10">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>